﻿@model News.Models.NewsModel
@{
    Layout = null;
}

@foreach (var news in Model.News)
{
<div>
    <h3>@news.Title</h3>
    <div>@news.Text</div>
</div>

<hr />
<br />
<br />
}

----
<div>Total news: @Model.News.Count</div>


