﻿@model News.Models.NewsModel
@{
    var model = this.Model;
}

@using (Ajax.BeginForm("SearchNews", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "newsBlock"
}))
{
    <div>Search</div>
    <div>
        <input type="text" name="pattern" />
        <input type="submit" value="Search" />
    </div>
}

<br />
<br />

<div id="newsBlock">
    @Html.Partial("_PartialNews", Model)
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}