﻿@model News.Models.NewsModel

<div id="searchBox">
    <div>Search</div>
    <div>
        <input type="text" id="searchPattern" />
        <input type="submit" id="searchSubmit" value="Search" />
    </div>
</div>

<br />
<br />

<div id="newsBlock">
    @Html.Partial("_PartialNews", Model)
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#searchSubmit").click(function (e) {
                var pattern = $("#searchPattern").val();
                $.get("@Url.Action("SearchNews", "Home")?pattern=" + pattern)
                    .success(function (response) {
                        $("#newsBlock").html(response);
                    });
            });
        });
    </script>
}




