﻿@model List<News.Models.UserModel>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>


@if (Model == null || !Model.Any())
{
    <h3>No users found. Try to @Html.ActionLink("register one", "Register") </h3>
}
else
{
    <table border="1" padding="5" cellspacing="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@Html.ActionLink("Edit", "UserDetails", new { controller = "User", id = user.Id })</td>
            </tr>
        }
    </table>

    <h4>@Html.ActionLink("Register", "Register")</h4>
}



