﻿@model News.Models.UserDetailsModel

<h2>Register new user</h2>

@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
    @Html.ValidationSummary(excludePropertyErrors: true)
    @Html.EditorForModel()

    <div>
        <input type="submit" value="Save" />
    </div>
}