﻿@model News.Models.UserDetailsModel
@{
    ViewBag.Title = "Edit user";
}


<h2>Edit user</h2>
@using (Html.BeginForm("UserDetails", "User", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Password)

    @Html.ValidationSummary()
    <div>
        <div>@Html.LabelFor(m => m.FirstName)</div>
        <div>@Html.EditorFor(m => m.FirstName)</div>
        <div>@Html.ValidationMessageFor(m => m.FirstName)</div>
    </div>

    <div>
        <div>@Html.LabelFor(m => m.LastName)</div>
        <div>@Html.EditorFor(m => m.LastName)</div>
    </div>

    <div>
        <div>@Html.LabelFor(m => m.Email)</div>
        <div>@Html.EditorFor(m => m.Email)</div>
    </div>

    <div>
        <div>@Html.LabelFor(m => m.BirthDate)</div>
        <div>@Html.EditorFor(m => m.BirthDate)</div>
    </div>

    <div><input type="submit" value="Save"/></div>
}



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}